.vs/
.git/

ApplicationCore/obj/
ApplicationCore/bin/

Infrastructure/obj/
Infrastructure/bin/

Web/obj/
Web/bin/

TestApplicationCore/obj/
TestApplicationCore/bin/

TestInfrastructure/obj/
TestInfrastructure/bin/

API/obj/
API/bin/

obj/
bin/